body{
background-color: rgb(100, 3, 3)
}
h1{
    background-color: rgb(7, 5, 5);
    color: aliceblue;
    text-align: center;
    font-size: 80px;
    margin: 0;
    padding: 0;
}
h2{
    text-align: center;
    color: rgb(255, 236, 236);
    background-color: rgb(8, 7, 7);
    font-size: 35px;
}
div{
   font-size: medium;
   text-align: center;
   height: 50%;

}
.cartaztodos{
    display: grid ;
    grid-template-columns: 25% 25% 25% 25%;
}
.filmeum{
    height: 90%;
}
.link{
color: aliceblue;
    background-color: black;
    font-size: 20px;
    text-align: center;
    border-radius: 10px;
}
footer{
    background-color: black;
    color: aliceblue;
    justify-content: center;
    text-align: center;
    padding: 20px;
 }
 .imginformacoes{
width: 25%;
text-align: center;
justify-content: center;


 }
 .textoinformacoes{
 text-align: center;
 font-size: 140%;

 }
